html {
  font-size: 18px;
  font-family: KaTeX_Main, Didot, 'Times New Roman', Times, serif;
  line-height: 1.3;
}

body {
  max-width: 720px;
  margin: 20px auto;
  padding: 0 4%;
  padding-bottom: 300px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

h1 {
  margin-top: 2em;
  font-size: 1.6em;
}

h2 {
  margin-top: 1.5em;
  font-size: 1.2em;
}

h3 {
  margin-top: 1.4em;
  font-size: 1em;
}

h1>code, h2>code, h3>code {
  font-size: 100%;
}

a, a:visited, a:valid {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
}

ul, ol {
  padding-left: 26px;
}

li {
  margin-top: 3px;
  margin-bottom: 3px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  box-sizing: initial;
  background-color: #fff;
}

img[align=right] {
  padding-left: 20px;
}

img[align=left] {
  padding-right: 20px;
}

code {
  font-family: KaTeX_Typewriter, monospace;
  font-size: 100%;
  display: inline-block;
  padding-top: -1px;
}

pre {
  margin-left: 1.6em;
  margin-right: 1.6em;
  word-wrap: normal;
  overflow: auto;
}

pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
  display: block;
}

table {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  overflow-x: auto;
}

table tr > th {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}

table tr:last-child td {
  border-bottom: 2px solid black;
}

th, td {
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}
